<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        android:versionCode="%versionCode%"
        android:versionName="%versionName%"
        package="org.venity.jphp.android"> <!-- DONT CHANGE PACKAGE -->
    <application android:label="%appName%">
        <!-- Permission for internet -->
        <uses-permission android:name="android.permission.INTERNET" />
        <!-- For more see https://developer.android.com/guide/topics/permissions/overview -->

        <activity
                android:name=".BootstrapActivity"
                android:label="%appName%">  <!-- DONT CHANGE android:name -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>