name: '{{name}}'
version: '{{version}}'
description: '{{description}}'
plugins:
  - App

sources:
  - src-php

includes:
  - index.php

deps:
  jphp-android-native-ui-ext: '*'

devDeps:
  jppm-android-plugin: '*'

android:
  sdk: '28'
  sdk-tools: 29.0.0
  id: '{{android-id}}'
  ui: native
