<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        android:versionCode="1"
        android:versionName="1.0"
        package="org.venity.jphp.android"> <!-- DONT CHANGE PACKAGE -->

        <!-- Permission for internet -->
        <uses-permission android:name="android.permission.INTERNET" />
        <!-- For more see https://developer.android.com/guide/topics/permissions/overview -->

    <application android:label="sandbox-android">
        <activity
                android:name=".BootstrapActivity"
                android:label="sandbox-android">  <!-- DONT CHANGE android:name -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>